<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Hızlı ve güvenilir alışveriş .....">
    <meta name="keywords" content="bilgisayar buzdolabı tv çanta">

    @await RenderSectionAsync("og", false)

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <title>@ViewData["Title"] - Pulsar Sanal Mağaza</title>
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/css/font-awesome.css" rel="stylesheet" />
    <link href="~/assets/css/templatemo-hexashop.css" rel="stylesheet" />
    <link href="~/assets/css/owl-carousel.css" rel="stylesheet" />
    <link href="~/assets/css/site.css" rel="stylesheet" />
</head>
<body class="bg-light">
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="py-2">
        <div class="container">

            @await Component.InvokeAsync("UserBar")
        </div>
    </div>
    <div class="bg-dark text-light py-2">
        <div class="container">
            <div class="row">
                <div class="col-md-4 d-none d-md-block">
                    <a asp-controller="Home" asp-action="Index">
                        <img src="~/assets/images/logo-dark.png" height="40">
                    </a>
                </div>
                <div class="col-md-4 col-12">
                    <form class="" asp-controller="Home" asp-action="Search" method="get">
                        <div class="input-group">
                            <input type="text" class="form-control" id="keywords" name="keywords" placeholder="ürün, kategori, marka ....">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-4 d-none d-md-block text-right">
                    &nbsp;
                </div>

            </div>

        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                @await Component.InvokeAsync("CategoryBar")

            </div>
        </div>
    </nav>
    <main class="container-fluid">
        @RenderBody()
    </main>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="first-item">
                        <div class="logo">
                            <img src="assets/images/logo-dark.png" alt="hexashop ecommerce templatemo">
                        </div>
                        <ul>
                            <li><a href="#">16501 Collins Ave, Sunny Isles Beach, FL 33160, United States</a></li>
                            <li><a href="#">hexashop@company.com</a></li>
                            <li><a href="#">010-020-0340</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h4>Shopping &amp; Categories</h4>
                    <ul>
                        <li><a href="#">Men’s Shopping</a></li>
                        <li><a href="#">Women’s Shopping</a></li>
                        <li><a href="#">Kid's Shopping</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="#">Homepage</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Help &amp; Information</h4>
                    <ul>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">FAQ's</a></li>
                        <li><a href="#">Shipping</a></li>
                        <li><a href="#">Tracking ID</a></li>
                    </ul>
                </div>
                <div class="col-lg-12">
                    <div class="under-footer">
                        <p>
                            Copyright © 2022 HexaShop Co., Ltd. All Rights Reserved.

                            <br>Design: <a href="https://templatemo.com" target="_parent" title="free css templates">TemplateMo</a>
                        </p>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                        <p>
                            <partial name="_LanguageSwitchPartial" />
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!-- jQuery -->
    <script src="~/assets/js/jquery-2.1.0.min.js"></script>
    <script src="~/assets/js/popper.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/owl-carousel.js"></script>
    <script src="~/assets/js/accordions.js"></script>
    <script src="~/assets/js/datepicker.js"></script>
    <script src="~/assets/js/scrollreveal.min.js"></script>
    <script src="~/assets/js/waypoints.min.js"></script>
    <script src="~/assets/js/jquery.counterup.min.js"></script>
    <script src="~/assets/js/imgfix.min.js"></script>
    <script src="~/assets/js/slick.js"></script>
    <script src="~/assets/js/lightbox.js"></script>
    <script src="~/assets/js/isotope.js"></script>
    <script src="~/assets/js/custom.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    @await RenderSectionAsync("Scripts", required: false)

    <script>
    @if (TempData["success"] is not null)
	    {
        <text>
        Swal.fire({
            toast: true,
            position: 'top-end',
            icon: 'success',
            title: '@TempData["success"]',
            showConfirmButton : false,
            timer : 2000
        })
        </text>
	    }

        @if (TempData["error"] is not null)
	    {
        <text>
        Swal.fire({
            toast: true,
            position: 'top-end',
            icon: 'error',
            title: '@TempData["error"]',
            showConfirmButton : false,
            timer : 2000
            })
        </text>
	    }
    </script>

</body>
</html>
